@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;
    border: 1px solid #d1d5db;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #f0f0f0;
    transition: all 0.2s ease;
  }

  button:hover {
    background-color: #e0e0e0;
  }

  input {
    border: 1px solid #d1d5db;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
}